*{
    font-family: 'Rethink Sans', sans-serif;
    box-sizing: border-box;
}
ul{
    padding: 0;
    list-style: none;
}
.container{
    padding: 0 90px;
    margin: 0 auto;
    position: relative;
}
